
.card {
            backdrop-filter: blur(10px);

            background: rgba(252, 252, 252, 0.1);
            border-radius: 20px;
            padding: 3rem;
            text-align: center;
            color: white;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s;
        }

.card:hover {
            transform: scale(1.05);
            background: rgba(252, 252, 252, 0.2);
            cursor: pointer;
        }