<div>
        <div class="searchbar">
                <div class="search">
                        <h1>categories</h1>
                        <span>(200)</span>
                </div>


                <div class="combox">
                        <select name=" optionlist " onChange="combo(this, 'demo')">
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                                <option>option 4</option>
                                <option>option 5</option>
                        </select>
                </div>

        </div>


        <div class="categories">

                <app-card *ngFor="let course of courses" [course]="course"></app-card>

        </div>
</div>
