<body>
  <aside class="sidebar">
    <h1 class="logo">realofake<span class="dot">.</span><img src="./assets/monkey.png" alt="" width="10%" height="10%"></h1>
    <div class="profile">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg/220px-Van_Gogh_-_Self-Portrait_-_Google_Art_Project.jpg" alt="Profile Picture" />
      <h2>Miguel1</h2>
    </div>
    <nav class="menu">
      <a href="#">🔔 Notification</a>
      <hr />
      <a href="/" class="active">🏠 Home</a>
      <a href="#">📦 My Courses</a>
      <a href="#">🗺️ My Themes</a>

      <hr />
      <a href="#">⚙️ My preference</a>
      <a href="#">✏️ My profile</a>
      <a href="#">👤 Account</a>
    </nav>
  </aside>

</body>

